.banner{
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.contenido-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio verticalmente */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    padding: 20px; /* Ajusta el padding según sea necesario */
}

.contenido-banner img {
    width: 350px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 15%;
    border-radius: 21px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    border: 0px solid #000000;
    -webkit-box-shadow: 10px 10px 31px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px 4px rgba(0,0,0,0.75);
}

.frase-banner {
    font-family: "Anton", sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: right; /* Alinea el texto a la derecha */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Espaciado superior */
    margin-bottom: 20px; /* Espaciado inferior */
    align-self: flex-end; /* Alinea la frase al final del contenedor */
    color: #ffffff;
    width: 40%;
    padding-right: 20px;
    padding-bottom: 30px;
}

.nav-index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Añade el color de fondo que deseas */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow-x:auto;
}

.ul-index {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.li-index {
    margin: 20px 0;
    color: white;
    font-size: 18px;
    font-family: "Hammersmith One", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.li-index a {
    text-decoration: none;
    color: white;
    padding: 0 40px;
}


.logo-header {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 21px;
    transition: all 0.5s ease; /* Transición suave de 0.5 segundos */
}
  
.nav-index.scrolled .logo-header {
    width: 100px; /* Nuevo tamaño del logo al hacer scroll */
    margin-left: 20px; /* Nueva posición del logo al hacer scroll */
}  
  /* Estilo para el contenido debajo de la barra de navegación */
main {
    margin-top: 50px; /* Ajusta según el tamaño de la barra de navegación */
}

.body{
    overflow-x: 0;
    margin: 0 auto;
}

.boton-flotante {
    position: fixed;
    bottom: 500px; /* Distancia desde abajo */
    right: 50px; /* Distancia desde la derecha */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    color: #ffffff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Para asegurar que esté por encima del resto del contenido */
    font-family: "Hammersmith One", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.boton-flotante:hover {
    background-color: rgba(0, 0, 0, 0.9); /* Cambia el color al pasar el mouse */
}

.boton-flotante {
    /* Estilos anteriores... */

    /* Estilo de la animación */
    transition: transform 0.2s ease;
}

.boton-flotante.rebote {
    transform: translateY(-20px); /* Cambia la posición en Y para el efecto de rebote */
}

p {
    font-size: 18px; /* Tamaño del texto del servicio */
    font-family: "Hammersmith One", sans-serif;

}

h2{
    font-size: 60px;
    font-weight: bold;
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    margin: 30px 0 30px 0;
    color: #ffffff;
}
h3{
    font-family: "Hammersmith One", sans-serif;
}

#servicios {
    text-align: center;
    padding: 50px 0 50px 0; /* Ajusta el espacio alrededor de los servicios según sea necesario */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative; /* Añade posición relativa al contenedor de servicios */
}

.contenido-servicios {
    /*margin-top: 90px;*/
    bottom: 30px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.contenido-servicios img {
    position: absolute;
    /*top: 40px;
    bottom: 40px;*/
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(100%) blur(1px);
}

.servicio {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin-bottom: 40px; /* Espacio entre cada servicio */
    margin: 30px auto;
}

.servicio h3 {
    font-size: 30px; /* Tamaño del título del servicio */
}

/* SECCION NOSOTROS*/

.contenido-nosotros{
    margin: 0 auto;
    background-color: black;
    text-align: center;
    padding: 20px 0 100px;
}

.contenido-nosotros h2{
    padding: 20px 0;
}

.contenido-nosotros p{
    color: #ffffff;
    padding: 0 15px;
    
}
/* SECCION TURNOS*/

#turnos {
    padding: 10px;
    background-color: #000000;
}

#turnos h2{
    color: #ffffff;
    text-align: center;
}
#turnos p{
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}
@media screen and (max-width:600px){
    h2{
        font-size: 44px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p{
        font-size: 15px;
        padding: 0 40px;
    }

    .boton-flotante{
        font-size: 15px;
        right: 10px;
        padding: 5px 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .nav-index {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        overflow-x: auto; /* Agrega desplazamiento horizontal en dispositivos pequeños */
        height: 50px;
    }
    
    .ul-index {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos pequeños */
    }
    
    .li-index {
        margin: 20px 0;
        color: white;
        font-size: 20px;
        font-family: "Hammersmith One", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        flex: 1; /* Distribuye el espacio entre los elementos */
        text-align: center; /* Centra el texto */
        max-width: 100%; /* Evita que los elementos sean más anchos que el contenedor */
    }
    
    .li-index a {
        text-decoration: none;
        color: white;
        padding: 10px; /* Ajusta el espaciado del enlace */
        display: block; /* Convierte el enlace en un bloque para ocupar todo el ancho disponible */
        width: 100%; /* Ancho completo del enlace */
        box-sizing: border-box; /* Incluye el padding en el ancho total */
    }

    .logo-header {
        width: 10px;
        height: auto;
        margin-bottom: 10px;
        border-radius: 21px;
        -moz-border-radius: 21px;
        -webkit-border-radius: 21px;
        border: 0px solid #000000;
        transition: all 0.5s ease; /* Transición suave de 0.5 segundos */    
    }

    .contenido-banner {
        padding: 0 10px; /* Ajusta el padding según sea necesario */
    }

    .contenido-banner img{
        width: 200px;
        margin-top: 20%;
    }

    .frase-banner {
        font-size: 40px;
        padding: 0 0 40px; /* Ajusta el padding para dispositivos pequeños */
        width: 70%;
    }

    .contenido-nosotros p{
        padding: 0 10%;
    }

    .contenido-servicios {
        height: auto;
    }

    .servicio h3{
        font-size: 18px;
    }

   .servicio p{
    font-size: 12px;
    padding: 0;
    padding-top: 5px;
   }
}